body {
  margin: 0px;
  padding: 0px;
}
/* .container {
  margin: 0px;
} */
.contact {
  margin-left: 2px;
  border: 1px solid darkgray;
  width: 300px;
  padding: 2px 0px 10px 10px;
}
.contact:hover,
.contact:active {
  background-color: #CEE7F2;
  cursor: pointer;
}
header {
  background-color: #3796c9;
  padding: 16px 0px 16px 16px;
  color: white;
  font-size: 40px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.topnav {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  overflow: hidden;
  background-color: #333;
  height: 30px;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
}
ul {
  list-style-type: none;
  display: flex;
  overflow: hidden;
  background-color: #333;
  margin: 0;
  padding-left: 8px;
  font-family: sans-serif;
}
li a {
  color: white;
  text-align: center;
  text-decoration: none;
  padding: 10px 16px;
  font-size: 15px;
}
.imagee img {
  width: 20px;
  height: 20px;
  padding: 25px;
  margin-top: 4px;
}
.close-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 20px;
  color: #333;
}
.contactLists {
  font-family: calibri;
  margin-left: 12px;
  font-weight: normal;
}
h4 {
  margin: 16px 6px 12px 14px;
  font-size: 16px;
  font-family: system-ui;
  font-weight: bold;
}
.form-group label {
  display: block;
  margin-bottom: 5px;
}
.form-group textarea {
  width: 100%;
}
.details {
  border: 1px solid;
  width: 177px;
  padding-left: 25px;
}
.add-update {
  margin-right: 8px;
  padding: 5px 35px;
  background-color: green;
  color: #fff;
  float: right;
  border: none;
  margin-top: 5px;
}
.showContacts {
  display: flex;
}
#detailsBox {
  width: 300px;
  margin-top: 25px;
  margin-left: 9em;
  font-family: 'Arial Narrow';
  position: relative;
  display: none;
}
.contact-details {
  font-family: calibri;
  display: flex;
  flex-direction: column;
}
.contact-details h1 {
  color: black;
  margin-bottom: 5px;
  font-weight: lighter;
}
.contact-details p {
  margin: 0;
  color: black;
}
.contact-details p.email {
  margin-top: 8px;
  margin-bottom: 16px;
}
.contact-details p.landline {
  margin-bottom: 20px;
}
.contact-details p.address {
  margin-top: 20px;
}
.editDeleteButtons {
  position: absolute;
  top: 2em;
  right: 0;
  left: 19em;
  display: flex;
  column-gap: 18px;
}

.editicon, .deleteicon {
  display: flex;
  align-items: center;
}

.editicon img {
  width: 8px;
  height: 15px;
  margin-right: 4px;
}
.deleteicon img {
  width: 15px;
  height: 21px;
  margin-right: 5px;
  margin-top: 4px;
}
.edittext, .deleteText {
  font-size: small;
}

.contact-name {
  font-size: 30px;
  font-weight: lighter;
  margin-bottom: 1px;
  font-family: calibri;
}
.contacts-container {
  display: flex;
  flex-direction: column;
}
.displaycontact {
  display: block;
}
.dialog-open {
  display: block;
  position: absolute;
  border: hidden;
  margin-top: 22px;
  padding: 30px;
  width: 550px;
  box-shadow: 0 0 10px rgba(69, 68, 68, 0.86);
  z-index: 1000;
}
.dialog-close {
  display: none;
}

#detailsBox.visible {
  display: block;
}

#detailsBox.hidden {
  display: none;
}

.contact-email {
  font-size: 15px;
}

.contact-mobile {
  font-size: 15px;
  margin-top: -4px;
}
.joining {
  display: flex;
  width: 100%;
}
 .mobilee {
    width: 50%;
    padding: 0 24px 0 0;
}
.landline {
  width: 50%;
} 
input {
  width: 100%;
  height: 25px;
  margin-bottom: 10px;
}
form{
  width: 80%;
}
/* .dialog-box {
  width: 1000px;
  margin-left: 27em;
  margin-top: 3em;
  padding: 27px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(69, 68, 68, 0.86);
  position: absolute;
  z-index: 1000;
  border: hidden;
} */

/* .form-group {
  width: 100%;
} */
/* img {
  width: 11px;
  height: 11px;
} */

